.Blog {
    display: inline-block;
    margin:10px;
    width: 250px; 
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}
img{
    float: right;
    width:30px;
    height:30px;
}
img:hover{
    animation: spinning-icon linear 2s infinite;
}
@keyframes spinning-icon {
    0% {
        transform: rotateY(0deg);
    }
    
    100% {
        transform: rotateY(360deg);
    }
}
a{
    padding: 10px;
    text-decoration:none;
    letter-spacing: 2px;
    color: black;

}
 a:hover{
    text-decoration:underline overline;
    color:  #fd03b2;
}