@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.Nav img{ 
    width:30px;
    height:30px;
}
.Nav img:hover{
    animation: spinning-icon linear 2s infinite;
}
@keyframes spinning-icon {
    0% {
        transform: rotateY(0deg);
    }
    
    100% {
        transform: rotateY(360deg);
    }
}
.Nav button{
    font-size:1rem;
    color:#ffae00;
    background-color: transparent;
    border:none;
}
.Nav button:hover{
    color: #fd03b2;
    background-color: transparent;
}

.Blog{
    display: inline-block;
    margin:10px;
    width:600px; 
    height: 80%;
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box; 

}

.Blog img{
    width: 100%;
}
.Blog span{
    font-family: 'Playfair Display', serif;
    font-size:1.2rem;
}

a{
    padding: 10px;
    font-family: 'Playfair Display', serif;
    text-decoration:none;
    letter-spacing: 2px;
    color:#ffae00;
}
 a:hover{
    text-decoration:underline overline;
    color:  #fd03b2;
}
p{
 font-size:12px;
}