.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #000000;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    animation:blinkingInput 0.8s infinite;
}
@keyframes blinkingInput{
    0%{ border: 1px solid red}
    100%{ border: 1px solid rgb(255, 0, 255);}
}