@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.NewPost {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    max-width:180px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
    text-align: center;
}
@media screen and (max-width:1000px){
    .NewPost textarea,
    .NewPost input{
       width:80%;
       min-width: 100px;
    }
}

 .NewPost button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    letter-spacing: 2px;
    border: 1px solid #ac5391;
    border-radius: 55px;
    background-color: transparent;
    color:   #fd03b2;
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #fd03b2;
}


a{
    padding: 10px;
    font-family: 'Playfair Display', serif;
    text-decoration:none;
    letter-spacing: 2px;
    color:#fcad03;
}
h4{
    
    letter-spacing: 2px;
}
