.Admin {
    padding-left:25%;
    width:50%;
    
}
.Admin button{
    font-size:1rem;
    color:#ffae00;
    background-color: transparent;
    border:none;
}
.Admin button:hover{
    color: #fd03b2;
    background-color: transparent;
}
.Admin span{
    font-family: 'Playfair Display', serif;
    font-size:1.2rem;
    background-color: rgb(72, 145, 0);
}
.Admin input {
    -webkit-text-security: disc;
}