 .Auth button {
  width:100%;
  margin: 5px 0;
  padding: 10px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  border: 1px solid #ac5391;
  border-radius: 55px;
  background-color: #ac5391;
  color:white;

}
.Auth button:hover {
    width:100%;
    color:white;
    background-color:#ffae00;
}
.Auth p{
  font-family: 'Playfair Display', serif;
  font-size:1rem;
}